:root {
  --main-bg-color: #252424;
  --main-app-color: #69779b;
  --main-text-color: #f0ece2;
  --main-side-color: #acdbdf;
  --main-border-color: #053f5e;
}

body {
  background-color: var(--main-border-color);
}

.app {
  background-color: var(--main-border-color);
  color: var(--main-text-color);
  width: 80%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 15px;
  margin-top: 4px;
  font-weight: lighter;
}

.image {
  width: 150px;
  height: 150px;
  border: 3px solid var(--main-side-color);
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}
.link__button {
  width: 200px;
  height: 40px;
  margin: 8px 5px;
  border: 1px solid var(--main-text-color);
  border-radius: 4px;
  background-color: var(--main-side-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
}
.Link__buttonIcon {
  position: relative;
  top: 4px;
}
